<% provide(:title, "About Us") %>
     
		  <h1>About Us</h1>
		  <p class="text-center"> <strong> Rent a Bike in Dublin </strong></p>
		  <br>
		  <div class="row">
			  <div class="col-md-6">
				  <div class="block block-icon-left">
					  <div class="icon-content">
						  <h3>Our Location</h3>
						  <p>The shop is located in Sandymount Village - South Side Dublin  </p>
                          <p>Our main GOAL is to give you the bike that best suit you at lowest price</p>
                          <p>We are passionate about cycling, we provide our service all around Dublin and
                          offering extras gadgets such as helmet, GPS, Locks and even picnic baskets *upon request*</p>
                          <p>We provide a huge range of bikes:  Kids| Standard|Tandems|Heritage|</p>
                          		<strong>Come to visit Us, here is where we are:</strong>
                          <%= link_to image_tag("sandymount.png",:style => "height: 200px", alt: "cycling_sandymount2"), 'https://www.google.ie/maps/search/sandymount/@53.2994557,-6.2086879,15z?hl=es' %>
					  </div>
				  </div>
			  </div>
			  <div class="col-md-6">
				  <div class="block block-icon-left">
					  <div class="icon-content">
						  <h3>Services</h3>
						  <p>Our GPS service will help navigate you on your adventures around Dublin</p>
                          <p>Our team  make sure all bikes are service checked and tested before each rental </p>
                          <p class="text-center"><strong>" Because we would love to see you fully addicted to cycling just like us"
                          						Follow us on </strong></p>
                          
                          	
							 <a href="https://facebook.com/login/"><%= image_tag "facebook.png"%></a><br/>
							 
							<a href="https://twitter.com/login/"><%= image_tag "twitter.png"%></a><br/>
							
							<a href="https://www.instagram.com"><%= image_tag "Insta.png"%></a><br/>
							
						
						</div>
					  </div>
				  </div>
			  </div>
			  </div>
			  

