<% provide(:title, "Home") %>

<div class="center">
  

<%= image_tag("logo.png")%>
</div>
  <h2>Getting around Dublin by <strong>Bike</strong> means you don't have to worry about sticking to bus timetables.</br></br>
      Whether you're just popping down to the shops to pick up some milk, commuting to work or</br></br>
      cycling to get fit and help the environment.</br></br>
      <strong>cycling gives you the freedom to be flexible and spontaneous.</strong></br></br></h2>
 
 
                <h3 class="text-center"><strong>New Here? Sign Up</strong> </br> <div align="center">
                  <%= link_to image_tag("button_signup.png", :style => "height: 40px", :style =>"width: 105px"), signup_path, class: "btn btn-success" %>

                  </div></h3>
                  
</div>




